*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container{
    width: 80%;
    height: 800px;
    box-shadow: 1px 1px 10px black;
    border-radius: 40px;
}